body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main-content {
  flex-grow: 1;
}

.footer {
margin-top: 20px;
  background-color: #FF073A;
  color: white;
  text-align: center;
  padding: 20px 0;
  width: 100%;

}

.footer-text {
  margin: 0;
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  font-family: 'Jersey 15', sans-serif;
}

.social-links p {
  font-size: 1rem;
}

.social-links a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.social-links a:hover {
  text-decoration: underline;

}


@media (max-width: 768px) {
  .footer {
    padding: 20px 0;
  }

  .footer-text {
    font-size: 0.875rem;
  }
}

@media (max-width: 480px) {
  .footer {
    padding: 15px 0;
  }

  .footer-text {
    font-size: 0.75rem;
    padding: 6px 0;
  }
}

