<div class="outer-grid">
<div class="grid-container">
  <div class="grid-item">Sekcija 1</div>
  <div class="grid-item">Sekcija 2</div>
  <div class="grid-item">Sekcija 3</div>
  <div class="grid-item">Sekcija 4</div>
  <div class="grid-item">Sekcija 5</div>

  <div class="grid-item">Sekcija 6</div>
  <div class="grid-item">Sekcija 7</div>
  <div class="grid-item">Sekcija 8</div>
  <div class="grid-item">Sekcija 9</div>
  <div class="grid-item">Sekcija 10</div>

  <div class="grid-item">Sekcija 11</div>
  <div class="grid-item">Sekcija 12</div>
  <div class="grid-item">Sekcija 13</div>
  <div class="grid-item">Sekcija 14</div>
  <div class="grid-item">Sekcija 15</div>

  <div class="grid-item">Sekcija 16</div>
  <div class="grid-item">Sekcija 17</div>
  <div class="grid-item">Sekcija 18</div>
  <div class="grid-item">Sekcija 19</div>
  <div class="grid-item">Sekcija 20</div>
</div>
</div>
