<!DOCTYPE html>
<html lang="bs">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Web Programiranje</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>

<nav class="navbar">
  <div class="navbar-container">
    <a href="#" class="navbar-logo">Angular-BookShop</a>
    <ul class="navbar-menu">
      <li><a routerLink="/" class="navbar-item"><i class="fas fa-home"></i>Home</a></li>
      <li><a routerLink="/about" class="navbar-item"><i class="fas fa-info-circle"></i>About Us</a></li>
      <li><a routerLink="/products" class="navbar-item"><i class="fas fa-box"></i> Products</a></li>
    </ul>
    <img class="cart-logo" src="https://static.vecteezy.com/system/resources/previews/027/381/351/non_2x/shopping-cart-icon-shopping-trolley-icon-shopping-cart-logo-container-for-goods-and-products-economics-symbol-design-elements-basket-symbol-silhouette-retail-design-elements-vector.jpg">
  </div>
</nav>
</body>
</html>


