body {
  margin: 0;
  font-family: 'Georgia', Serif;
  background-color: #06402B;
  color: #333;
}

.navbar {
  background: #0e1720;
  padding: 15px 0;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}
.logo{
   width: 6rem;
   height: 6rem;
}
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.navbar-logo {
  color: #06402B;
  font-weight: bold;
  text-decoration: none;
  letter-spacing: 2px;
  text-transform: uppercase;
  transition: color 0.3s ease;
}

.navbar-menu {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  background-color: #0e1720;

}
.play-button{
 width: 9rem;
 margin-left: 30px;
 font-size: 20px;
 color: #ceb072;
 background-color: #0e1720;
 font-weight: bold;
 border-radius: 7px;
 margin-bottom: 10px;
 transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
}

.play-button:hover{
background-color: #be995a;
color: #0e1720;
cursor: pointer;
transform: scale(1.1);
background: linear-gradient(45deg, #00778e, #21cfda , #4ffbff);
}

.navbar-item {
  margin-left: 30px;
  font-size: 1.6rem;
  color: #c5a461;
  text-decoration: none;
  position: relative;
  transition: color 0.3s ease, padding-left 0.3s ease;
}

.navbar-item:hover {
  padding-left: 10px;
}

.navbar-item::after {
  content: '';
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #b2914a;
  bottom: -5px;
  left: 0;
  transition: width 0.3s ease;
}

.navbar-item:hover::after {
  width: 100%;
}

@media (max-width: 1024px) {
  .navbar-container {
    padding: 0 10px;
  }

  .navbar-item {
    font-size: 1rem;
    margin-left: 20px;
  }
}

@media (max-width: 768px) {
  .navbar-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
    background-color: white;
    width: 100%;
    padding: 20px;

  }

  .navbar-item {
    font-size: 1.3rem;
    margin: 15px 0;
    text-align: center;
    padding: 10px 0;
  }
}

@media (max-width: 480px) {
  .navbar-item {
    font-size: 1.2rem;
    margin-left: 0;
    padding: 10px 0;
  }

  .navbar-logo {
    font-size: 1.5rem;
  }
}

