.home-container {
  text-align: center;
  padding: auto;
  background-color: #0e1720;
  color: white;
  border-radius: 10px;
  box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
  height: 100vh;
  position: relative;
  overflow: hidden;
}

main {
  color: #0bcbd4;
  text-align: center;
  font-weight: bold;
  background-color: #0e1720;
  border-radius: 10px;
}

.backgroundvideo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.overlay-button {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 30px;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.overlay-button:hover {
  background-color: rgba(0, 0, 0);
}

.overlay-button:active {
  transform: scale(1);
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.home-image:hover {
  transform: scale(1.05);
  box-shadow: 0 12px 25px rgba(0, 0, 0, 0.3);
}

.news-section {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 20px;
  background-color: #f5f5f5;
}

.news-box {
  flex: 1;
  background-color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.news-box:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
}

.news-box h3 {
  margin-bottom: 10px;
  font-size: 1.5rem;
  color: #333;
}

.news-box p {
  font-size: 1rem;
  color: #666;
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInText {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 0;
    height: 100vh;
  }

  h1 {
    font-size: 2.5rem;
    letter-spacing: 2px;
  }

  p {
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  .overlay-button {
    font-size: 1rem;
    padding: 12px 25px;
  }
}

@media (max-width: 420px) {
  .overlay-button {
    font-size: 0.9rem;
    padding: 10px 20px;
  }
}
