<main>
  <p>Stay ahead of the game with the latest updates, exclusive offers, and all the gear you need to level up your experience</p>
  <div class="home-container">

    <video data-testid="backdrop-background" autoplay="" class="backgroundvideo" muted="" loop="" playsinline=""><source data-testid="source-video/webm" src="https://cmsassets.rgpub.io/sanity/files/dsfx7636/news/8ab3e227121c53aacab0c9b9f7a48adbc65db520.webm" type="video/webm"></video>
    <button class="overlay-button">Learn More</button>
  </div>
</main>
