
body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.outer-register{
  display: flex;
  justify-content: center;
  align-items: center;
}

.registration-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
}


.registration-form h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}


.registration-form label {
  display: block;
  margin-bottom: 5px;
  color: #555;
  font-weight: bold;
}


.registration-form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}


.registration-form input:focus {
  border-color: #0078ff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 120, 255, 0.5);
}


.registration-form button {
  width: 100%;
  padding: 10px;
  background-color: #0078ff;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.registration-form button:hover {
  background-color: #0056cc;
}
