<body>
<div class="container">
  <!-- Forma za dodavanje i ažuriranje korisnika -->
  <div class="form-container">

    <div *ngIf="errors.length > 0" class="error-messages">
      <ul>
        <li *ngFor="let error of errors">{{ error }}</li>
      </ul>
    </div>

    <form (ngSubmit)="onSubmit()">
      <h2>{{ isEditMode ? 'Uredi korisnika' : 'Dodaj korisnika' }}</h2>

      <div class="form-group" *ngIf="isEditMode">
        <label for="id">ID:</label>
        <input type="number" id="id" [(ngModel)]="user.id" name="id" />
      </div>

      <div class="form-group">
        <label for="first_name">Ime:</label>
        <input type="text" id="first_name" [(ngModel)]="user.first_name" name="first_name" required />
      </div>

      <div class="form-group">
        <label for="last_name">Prezime:</label>
        <input type="text" id="last_name" [(ngModel)]="user.last_name" name="last_name" required />
      </div>

      <div class="form-group">
        <label for="username">Korisničko ime:</label>
        <input type="text" id="username" [(ngModel)]="user.username" name="username" required />
      </div>

      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" [(ngModel)]="user.email" name="email" required />
      </div>

      <div class="form-group" *ngIf="!isEditMode">
        <label for="password">Šifra:</label>
        <input type="password" id="password" [(ngModel)]="user.password" name="password" required />
      </div>

      <div class="form-group">
        <label for="role">Uloga:</label>
        <select id="role" [(ngModel)]="user.role" name="role" required>
          <option value="user">Korisnik</option>
          <option value="admin">Administrator</option>
        </select>
      </div>

      <button type="submit" class="btn">
        {{ isEditMode ? 'Ažuriraj' : 'Dodaj' }}
      </button>
      <button type="button" class="btn btn-secondary" (click)="resetForm()" *ngIf="isEditMode">
        Otkaži
      </button>
    </form>
  </div>


  <div class="table-container">
    <h2>Lista korisnika</h2>
    <table>
      <thead>
      <tr>
        <th>ID</th>
        <th>Fisrt name</th>
        <th>Last name</th>
        <th>Username</th>
        <th>Email</th>
        <th>Role</th>
        <th>Akcije</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td>{{ user.first_name }}</td>
        <td>{{ user.last_name }}</td>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.role }}</td>
        <td>
          <button class="btn btn-edit" (click)="editUser(user)">Uredi</button>
          <button class="btn btn-delete" (click)="deleteUser(user.id)">Obriši</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
</body>
